@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Localization
@using ProbentApps.Components.Pages

<!DOCTYPE html>
<html lang="@(HttpContext.Features.Get<IRequestCultureFeature>()?.RequestCulture.UICulture.Name ?? "en")">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <HeadOutlet @rendermode="_pageRenderMode" />
        <ImportMap />
        <base href="/" />
        <link href=@Assets["css/bootstrap-utilities.min.css"] rel="stylesheet" />
        <link href=@Assets["_content/MudBlazor/MudBlazor.min.css"] rel="stylesheet" />
        <link href=@Assets["ProbentApps.styles.css"] rel="stylesheet" />
    </head>
    <body>
        <Routes @rendermode="_pageRenderMode" />
        <script src=@Assets["_framework/blazor.web.js"]></script>
        <script src=@Assets["_content/MudBlazor/MudBlazor.min.js"]></script>
        <script src=@Assets["_content/Extensions.MudBlazor.StaticInput/NavigationObserver.js"]></script>
    </body>
</html>

@code {
    private IComponentRenderMode? _pageRenderMode;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    protected override void OnInitialized() => _pageRenderMode = HttpContext.AcceptsInteractiveRouting() ? RenderMode.InteractiveAuto : null;
}
